<!DOCTYPE html>
<html>
<head>
	<title>burger_style</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	{{!-- <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css"> --}}
	<script src="/assets/js/burger.js"></script>
</head>

<body>

{{{body}}}

</body>

</html>