<div class="container">
	<div class="jumbotron">

		<div class="text-center">
			<h1 class="text-center"><img src="../public/assets/images/icon2.png" alt="icon"> Burgers! <img
					src="../public/assets/images/icon2.png" alt="icon2"> </h1>
		</div>
	</div>

	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center enter_section">
				<h3>Click submit to add your favorite burger to list!</h3>
				<br>
				<form action="/api/burgers" method="POST" id="submit">
					<input type="text" class="form-control" id="add">
					<br>
					<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>


<br>
<br>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h2>To Be Eaten:</h2>
			<ul class="unstyled">
				{{#each burgers}}
				{{#unless this.devoured}}
				{{> burgers/burger-block devoured=false}}
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col text-center">
			<h2>Eaten:</h2>
			<ul class="unstyled">
				{{#each burgers}}
				{{#if devoured}}
				{{> burgers/burger-block devoured=true}}
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>