<h1>Burgers!</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST" id="submit">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col">
			<h2>To Be Eaten!</h2>
			<ol>
				{{#each burgers}}
				{{#unless this.devoured}}
				{{> names}}
				{{/unless}}
				{{/each}}
			</ol>
		</div>

		<div class="col">
			<h2>Eaten</h2>
			<ul>

				{{#each burger_data}}
				{{#if devoured}}
				{{!-- {{> burger-block devour=true}} --}}
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>